*
{
  outline: none;
}

#attachments > .cockpit
{
	background: #fff;
	margin-bottom: 16px;
}

#attachments > .gallery
{
	clear: both;
}

#attachments > .gallery
{
	background: transparent;
	border: 4px dashed #ddd;
	color: #ccc;
	font-size: 30px;
	padding: 70px 0;
	text-align: center;
}

#attachments div.progress
{
	background: #fff;
	border: 1px dotted #005595;
	border-radius: 0;
	height: 20px;
	width: 270px;
}
#attachments div.progress > span
{
	background: #6FC1FF;
	display: block;
	height: 20px;
	width: 0;
}